// Register

.register-box {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;

  h1 {
    margin-block: 1rem;
    padding: 5px 2vw;
    box-shadow: var(--boxShadow);
    background: var(--blue);
    border: 1px solid var(--white);
    border-radius: var(--radius5);
    outline: 4px solid var(--blue);
  }

  .form-container {
    display: grid;
    place-items: center;
  }

  .form {
    display: grid;
    place-items: center;
    grid-gap: 20px;
  }

  .btn {
    margin-top: 1rem;
    @include seoClickable;
  }

  .member-btn {
    margin-left: 10px;
    @include seoClickable;
  }
}

.password-container {
  position: relative;
}

.toggle-password-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  @include flex-center;
}
