.error-page-box {
  max-inline-size: var(--maxNavWidth);
  margin: 0 auto;
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: center;
  gap: 2rem;
}

.error-page-img {
  inline-size: 100%;
  max-inline-size: 600px;
  aspect-ratio: 16 / 9;
}
