.leaderboard-tabs {
  display: flex;
  justify-content: center;
  gap: 0.625rem;
  margin-block-end: 0.625rem;
}

.leaderboard-tabs button {
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  border: 1px solid var(--gray);
  background: transparent;
  color: var(--white);
  cursor: pointer;
}

.leaderboard-tabs button.active {
  background: var(--blue);
}

table {
  border-collapse: collapse;
}

table th {
  background: var(--blue);
}

table th,
table td {
  padding: 0.3125rem;
  border: 1px solid var(--gray);
}

.ranking {
  inline-size: 3.125rem;
}
