.leaderboard-tabs {
  display: flex;
  justify-content: center;
  gap: var(--spaceMd);
  margin-block-end: var(--spaceMd);
}

.leaderboard-tabs button {
  padding: var(--spaceSm) var(--spaceLg);
  font-size: var(--fontLg);
  border: 1px solid var(--gray);
  background: transparent;
  color: var(--white);
  cursor: pointer;
}

.leaderboard-tabs button.active {
  background: var(--blue);
}

table {
  border-collapse: collapse;
}

table th {
  background: var(--blue);
}

table th,
table td {
  padding: var(--spaceXs);
  border: 1px solid var(--gray);
}

.ranking {
  inline-size: 3.125rem;
}
