.placebets-box .game-score {
  grid-template-columns: minmax(0, 10fr) repeat(3, auto) minmax(0, 10fr);
  place-items: center;
}

.placeBet-btn {
  margin-block: var(--spaceLg);
}

.placeBet-btn::after {
  content: "";
  inline-size: var(--minTapTarget);
  block-size: var(--minTapTarget);
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
}

.placebets-box label {
  display: none;
}

.input-number {
  --input-size: clamp(2.5rem, 4vw, 3rem);
  inline-size: var(--input-size);
  block-size: var(--input-size);
  padding: var(--spaceSm);
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input-number[type="number"] {
  -moz-appearance: textfield;
}
