.profile-box form {
  margin: 0 auto;
  display: grid;
  place-items: center;
}

.profile-box .form-center {
  padding: 0 0 var(--spaceXl);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--spaceXl);
}

.profile-box .label-box {
  display: grid;
  justify-items: flex-start;
  grid-gap: var(--spaceMd);
}

.profile-box .label-box-checkbox {
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.profile-box .label-box-checkbox input {
  inline-size: auto;
  padding: 0;
}

.profile-box h1 {
  margin-block: var(--spaceLg);
}

@media (max-width: 500px) {
  .profile-box .form-center {
    grid-template-columns: 1fr;
  }
}
