.register-box {
  inline-size: 100dvw;
  display: grid;
  place-items: center;
}

.register-box h1 {
  margin-block: 1rem;
  padding: 5px 2vw;
  box-shadow: var(--boxShadow);
  background: var(--blue);
  border: 1px solid var(--white);
  border-radius: var(--radius5);
  outline: 4px solid var(--blue);
}

.register-box .form-container {
  display: grid;
  place-items: center;
}

.register-box .form {
  display: grid;
  place-items: center;
  grid-gap: 20px;
}

.register-box .btn {
  margin-block-start: 1rem;
}

.register-box .btn::after {
  --minSize: 3rem;
  content: '';
  inline-size: var(--minSize);
  block-size: var(--minSize);
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
}

.register-box .member-btn {
  margin-inline-start: 10px;
}

.register-box .member-btn::after {
  --minSize: 3rem;
  content: '';
  inline-size: var(--minSize);
  block-size: var(--minSize);
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
}

.password-container {
  position: relative;
  inline-size: 100%;
}

.toggle-password-btn {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-end: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
