// Matches

.game-box {
  width: 100%;
  padding: 0.6rem 0;
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
  grid-gap: 0.5rem;
  border-bottom: 1px solid var(--gray);

  &:first-child {
    border-top: 1px solid var(--gray);
  }
}

.points-earned {
  grid-template-columns: 5fr 1fr 4fr 1fr;
  align-items: center;
}

.game-box span {
  @include flex-center;
}

.score {
  max-width: 3.5rem;
  width: 100%;
  padding: 0.5rem 0.2rem;
  justify-content: center;
  background: #000;
}
.not-finished {
  color: var(--yellow);
}
.match-date {
  font-size: 0.7rem;
}

.home-team,
.away-team {
  justify-self: flex-end;
  gap: 0.4rem;
}

.away-team {
  justify-self: flex-start;
}

.club-icon {
  --img-size: 30px;
  height: var(--img-size);
}

.matches-box,
.matchday-headline,
.leaderboard-table {
  width: 90dvw;
  max-width: var(--maxMatchWidth);
  margin: 0 auto;
}

.matches-box:has(h2):not(:last-child) {
  margin-block: 2rem;
}

.matchday-headline {
  margin-block: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.prev-btn,
.next-btn {
  position: relative;
  border: none;
  background: transparent;
  color: var(--gray);
  user-select: none;
  cursor: pointer;

  @include flex-center;
  @include seoClickable;
}
.prev-btn p,
.next-btn p {
  display: none;
  @media (min-width: 550px) {
    display: block;
  }
}
