.loading-box {
  inline-size: 100%;
  block-size: 100dvh;
  background: var(--bg-clr);
}

.loading {
  --circle-size: 3.5rem;
  position: fixed;
  inset-block-start: 50%;
  inset-inline-start: calc(50% - (var(--circle-size) * 0.5));
  transform: translate(-50%, -50%);
  border: 5px solid var(--white);
  border-top: 5px solid var(--lightBlue);
  border-radius: 50%;
  inline-size: var(--circle-size);
  block-size: var(--circle-size);
  animation: rotate 1s linear infinite;
  z-index: 10;
}
