.game-box {
  inline-size: 100%;
  padding: var(--spaceSm) 0;
  display: grid;
  grid-template-columns: minmax(0, 5fr) minmax(3.5rem, 1fr) minmax(0, 5fr);
  grid-gap: var(--spaceSm);
  border-bottom: 1px solid var(--gray);
}

.game-box:first-child {
  border-top: 1px solid var(--gray);
}

.points-earned {
  grid-template-columns:
    minmax(0, 5fr) minmax(0, 1fr) minmax(0, 4fr)
    minmax(0, 1fr);
  align-items: center;
}

.game-box span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score {
  max-inline-size: 3.5rem;
  inline-size: 100%;
  padding: var(--spaceSm) var(--spaceXs);
  justify-content: center;
  background: #000;
}
.not-finished {
  color: var(--yellow);
}
.game-box.locked {
  opacity: 0.5;
}
.game-box.locked input {
  cursor: not-allowed;
}
.match-date {
  font-size: var(--fontXs);
}

.home-team,
.away-team {
  max-inline-size: 100%;
  justify-self: flex-end;
  gap: var(--spaceSm);
}

.away-team {
  justify-self: flex-start;
}

.team-name {
  min-inline-size: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.club-icon {
  --img-size: 2rem;
  block-size: var(--img-size);
  inline-size: var(--img-size);
  filter: drop-shadow(0px 0px 1px var(--white));

  @media (width >= 450px) {
    --img-size: 2.5rem;
  }
}

.matches-box,
.matchday-headline,
.leaderboard-table,
.bundesliga-table {
  inline-size: 90dvw;
  max-inline-size: var(--maxMatchWidth);
  margin: 0 auto;
}

.matches-box:has(h2):not(:last-child) {
  margin-block: var(--space3xl);
}

.matchday-headline {
  margin-block: var(--spaceLg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spaceXl);
}

.prev-btn,
.next-btn {
  position: relative;
  border: none;
  background: transparent;
  color: var(--gray);
  user-select: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.prev-btn::after,
.next-btn::after {
  content: '';
  inline-size: var(--minTapTarget);
  block-size: var(--minTapTarget);
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
}

.prev-btn p,
.next-btn p {
  display: none;
}

@media (min-width: 550px) {
  .prev-btn p,
  .next-btn p {
    display: block;
  }
}
