.header {
  inline-size: 100%;
  padding: var(--spaceLg) 0;
  color: white;
  background: var(--blue);
}

.nav {
  inline-size: 85dvw;
  max-inline-size: var(--maxNavWidth);
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo {
  margin: 0;
}

.nav-links {
  --nav-height: 3.8125rem;
  display: none;
}

.nav-links a {
  user-select: none;
  font-size: var(--fontLg);
}

.nav-links a.active {
  color: yellow;
}

.nav-links.open {
  display: block;
  inline-size: 100%;
  block-size: calc(100vh - var(--nav-height));
  padding: var(--spaceXl) 0;
  position: absolute;
  inset-block-start: var(--nav-height);
  inset-inline-start: 0;
  background: var(--blue);
  z-index: 10;
}

.nav-links li:not(:last-child) {
  margin-block-end: var(--space3xl);
}

.hamburger-menu {
  display: block;
  border: none;
  background: none;
  cursor: pointer;
}

.hamburger-menu span {
  display: block;
  inline-size: 1.25rem;
  block-size: 0.125rem;
  margin: 0 0 var(--spaceXs);
  background: var(--white);
}

.btn-container {
  position: relative;
  margin-inline-start: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown.show-dropdown {
  visibility: visible;
}

.dropdown {
  position: absolute;
  inset-block-start: 0.125rem;
  inset-inline-start: 0px;
  inline-size: 100%;
  padding: var(--spaceSm);
  text-align: center;
  visibility: hidden;
  border-radius: var(--radius5);
  z-index: 12;
}

.user-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spaceXs);
  font-size: var(--fontMd);
}

.user-btn-name {
  max-inline-size: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-btn::after {
  content: '';
  inline-size: var(--minTapTarget);
  block-size: var(--minTapTarget);
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
}

.user-btn:hover {
  background: transparent;
}

.dropdown-btn {
  position: absolute;
  inset-block-start: var(--space4xl);
  inset-inline-start: 50%;
  translate: -50% 0;
  background: var(--lightBlue);
  border: none;
  text-transform: capitalize;
  box-shadow: var(--boxShadow);
  cursor: pointer;
}

.dropdown-btn::after {
  content: '';
  inline-size: var(--minTapTarget);
  block-size: var(--minTapTarget);
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 850px) {
  .user-btn-name {
    max-inline-size: 5rem;
  }
}
